	.course {
		font-size:12px;
		border-collapse:collapse;
		border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
	}
	.course th{
		background-color: #e67e22;
		font-weight: normal;
		color: white;
		padding: 10px 10px;
		text-align: center;
	}
	.course td{
		padding: 10px 10px;
	}
	.course tr{
		background-color: rgb(250, 245, 238);
		color: rgb(111, 111, 111);
		-webkit-transition: background 0.3s;
		-moz-transition: background 0.3s;
		transition: background 0.3s;
	}
	.course tr:nth-of-type(2n){
		background-color: rgb(238, 238, 238);
		color: rgb(111, 111, 111);
		-webkit-transition: background 0.3s;
		-moz-transition: background 0.3s;
		transition: background 0.3s;
	}
	.course tr:hover{
		background: rgba(230, 180, 120, 0.2);
	}
	.course tr:nth-of-type(2n):hover{
		background: rgba(0,0,0,0.1);
	}
	.notice{
		color:#e74c3c;
	}